doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Google website
        style
            include style.css
  body
    .box
      .title
        h3 Hello! This is our google platform.
        br
        h3 How are you?